@model HMS.Areas.Dashboard.ViewModels.AccomodationTypesListingModel

@if (Model != null && Model.AccomodationTypes != null && Model.AccomodationTypes.Count() > 0)
{

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var accomodationType in Model.AccomodationTypes)
        {
        <tr>
            <td>@accomodationType.Name</td>
            <td>@accomodationType.Description</td>
            <td>
                @*<button id="editButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fas fa-edit"></i> Edit</button>*@
                @*<button id="deleteButton" type="button" class="btn btn-warning"><i class="fas fa-remove"></i> Delete</button>*@

                <button data-href="@Url.Action("Action", "AccomodationTypes", new { ID= accomodationType.ID })" type="button"
                        class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#actionModal">
                    <i class="fas fa-edit"></i> Edit
                </button>


                <button data-href="@Url.Action("Delete", "AccomodationTypes", new { ID = accomodationType.ID })" type="button" 
                        class="data-btn btn btn-warning" data-bs-toggle="modal" data-bs-target="#actionModal">
                <i class="fas fa-remove"></i> Delete
                </button>
                
            </td>

        </tr>
        }

              
    </tbody>
</table>
}
else
{
<div class="alert alert-warning" role="alert">
    Sorry, No Record Exist!
</div>
}